+++
title = "Who is running Nivenly?"
linkTitle = "Who We Are"

[menu.main]
weight = 20
pre = "<i class='fas fa-people-group pr-2'></i>"
+++

{{% blocks/cover title="Who is running Nivenly?" image_anchor="bottom" height="min" color="primary"%}}
{{% blocks/link-down color="info" id="pageContent"%}}
{{% /blocks/cover %}}

<section id="pageContent">
   <div class="container">
      <h2>Leadership</h2>
      <p>Nivenly's leadership is comprised of our Executive Director and Board of Directors. Our Executive
         Director is responsible for the day-to-day operations of Nivenly and collaborates with the Board
         on direction and priority. Our Board of Directors is responsible for stewarding the direction of
         Nivenly, as well as representing the interests of our membership and oversee our governance processes.
      </p>

      <div class="card-deck">
         <!-- Quintessence Anx -->
         <div class="card">
            <img src="quintessence.jpg" class="card-img-top" draggable="false"
               alt="Headshot of Quintessence, smiling" />
            <div class="card-body">
               <div class="card-body">
                  <h5 class="card-title section-head">
                     Quintessence Anx<br />
                     Executive Director
                  </h5>
                  <p class="card-text">
                     Quintessence Anx is the Executive Director of Nivenly Foundation.
                     She took a circuitous path through the tech industry, acquiring a
                     variety of skills and perspectives. Most recently she served as a
                     Developer Advocate at Logz.io, AppDynamics, and PagerDuty. This
                     experience honed her ability to communicate to large numbers of
                     people, learn business strategies, and understand how to bridge
                     the needs of users, community, and a source entity (be it a
                     company or a large project with contributors).
                  </p>
               </div>
            </div>
         </div>
         <!-- Dominic Hamon -->
         <div class="card">
            <img src="dma.png" class="card-img-top" draggable="false"
               alt="Photo of Dominic Hamon on a beach with the ocean visible in the background." />
            <div class="card-body">
               <h5 class="card-title section-head">
                  Dominic Hamon<br />
                  Interim President
               </h5>
               <p class="card-text">
                  Dominic Hamon is the interim President of Nivenly Foundation. Dominic's 20+ years of experience
                  have
                  taken him from Theoretical Physics and Maths research, through AAA video game development with the
                  likes of EA and Lucasarts, to large-scale distributed system development for Twitter and Google. He
                  currently works as a senior engineering manager on the Google Play Console team, and has also
                  worked on YouTube, Chrome, and Apache Mesos.<br>
                  <br>
                  His history of contributions to open source outside of Apache Mesos and Chrome includes Linux,
                  LLVM,
                  Perl, creation of a Dart port of the Box2D library, technical leadership for M-Lab, and long-term
                  maintenance of the Google Benchmark library.
               </p>
            </div>
         </div>
         <!-- Preston Doster -->
         <div class="card">
            <img src="preston-doster-300x300.png" class="card-img-top" draggable="false"
               alt="Photo of Preston, smiling." />
            <div class="card-body">
               <h5 class="card-title section-head">
                  Preston Doster<br />
                  Secretary
               </h5>
               <p class="card-text">
                  Preston Doster is the Secretary of the Nivenly Foundation. Preston is also actively involved
                  in Hachyderm.io's infrastructure team, keeping its services online and scaled ahead of the
                  community's growth.
                  Outside of Hachyderm, he works for Twilio, Inc. as an Architect in its Platform Engineering group,
                  responsible for building and maintaining a modern, reliable cloud platform Twilio's customers can
                  depend on.
                  Previously, he was Principal Architect at Toyota Connected, Inc., focusing on designing an in-car
                  telematics
                  platform connecting Toyota's drivers to life-critical and convenience services. Prior to that, he
                  spent many
                  years consulting with Slalom Consulting and Sungard Consulting Services.
               </p>
               <p>
                  <a href="https://hachyderm.io/@esk" rel="me">@esk@hachyderm.io</a>
               </p>
            </div>
         </div>
         <!-- Mekka Okereke -->
         <div class="card">
            <img src="mekka-okereke.png" class="card-img-top" draggable="false" alt="Headshot of Mekka, smiling" />
            <div class="card-body">
               <h5 class="card-title section-head">
                  Mekka Okereke<br />
                  Board of Directors
               </h5>
               <p class="card-text">
                  Mekka Okereke is an Engineering Director at Google. He leads the Growth Engineering organization
                  for Google Play, one of the largest digital marketplaces on earth. At Google, Mekka also serves
                  as an Operations Lead for Google's Civil Rights Coalition, and as an executive sponsor of Tech
                  Exchange, a program connecting HBCUs and Silicon Valley. Prior to Google, Mekka was at Amazon,
                  where he built and led the team that created the Amazon Appstore, and built Amazon's In-App
                  Payments
                  and Subscriptions products. Mekka has served on the board of several non-profits, including Hack
                  the
                  Hood and Prodigy Mentors. He currently serves on the Advisory Board of the Historical Basketball
                  League (HBL), and on the Diversity, Equity, Inclusion, and Sensitivity board of the Voting Rights
                  Association. Mekka is a frequent speaker, consultant, and mentor, sharing his expertise with
                  leaders
                  on inclusivity in the workplace, diversity in tech, and successful team building.
               </p>
            </div>
         </div>
         <!-- Kris Nóva -->
         <div class="card">
            <img src="nova-web.jpg" class="card-img-top" draggable="false" alt="Headshot of Nóva, smiling" />
            <div class="card-body">
               <h5 class="card-title section-head">
                  Kris Nóva<br />
                  President Emeritus<br />
                  In Memoriam
               </h5>
               <p class="card-text">
                  Kris Nóva was the President of the Nivenly Foundation. She was an author,
                  engineer, public speaker and technologist best known for her work
                  on Aurae, Linux, and Kubernetes.<br>
                  <br>
                  She specialized in compute runtime, kernel security, distributed systems,
                  cloud infrastructure, and open source software engineering. In 2022 she authored
                  “Hacking Capitalism”, an independently published book about modeling the
                  tech industry as a system. In 2017 she co-authored “Cloud Native Infrastructure”
                  with Justin Garrison, published by O'Reilly Media.<br>
                  <br>
                  Nóva is well known for her open source work. She has created many successful
                  open source projects and has contributed to projects like Linux, Kubernetes, Rust, Go, etc.<br>
                  <br>
                  She worked as a principal engineer at GitHub and sadly
                  <a href="/memorials/krisnova/">passed away</a> in August 2023.
               </p>
            </div>
         </div>
         <!-- New Board Member - leave template -->
         <!--
           \<\!-- FIXME: New Board Member Name --\>
             <div class="card">
               <img src="nivenly-bw-coming-soon.png"
                    class="card-img-top"
                    draggable="false"
                    alt="Headshot of FIXME, smiling"
               />
               <div class="card-body">
                  <h5 class="card-title section-head">
                     FIXME: Nivenly Board Member Name<br />
                     Board of Directors
                  </h5>
                 <p class="card-text">
                   FIXME: Nivenly Fellow bio text.
                 </p>
               </div>
             </div>
           </div>
         -->

         <!-- Empty card for the grid borders -->
         <div class="card card-fake"></div>
      </div>

   </div>


   <!-- NIVENLY FELLOWS -->
   <div class="container pt-5">
      <h2>Fellows</h2>
      <p>Nivenly Fellows are technologists that Nivenly recognizes that possess not only technical
         leadership and acumen, but who also possess the qualities that our Foundation strives for:
         those who are
         Nivenly Fellows are technologists who have made significant contributions to open source and
         are in alignment with Nivenly's mission.
      </p>
      <!-- Hazel Weakly -->
      <div class="card-deck">
         <div class="card">
            <img src="hazel-weakly.jpg" class="card-img-top" draggable="false"
               alt="Headshot of Hazel Weakly, smiling weakly" />
            <div class="card-body">
               <h5 class="card-title section-head">
                  Hazel Weakly<br />
                  Nivenly Fellow
               </h5>
               <p class="card-text">
                  Hazel spends her days working on building out teams of humans as well as the infrastructure,
                  systems, automation, and tooling to make life better for others. She's worked at a variety of
                  companies,
                  across a wide range of tech, and knows that the hardest problems to solve are the social ones.
                  Hazel currently serves as a Director on the board of the Haskell Foundation and is fondly known as
                  the Infrastructure Witch of Hachyderm. She also created the official Haskell
                  "setup" GitHub Action and helps maintain it. She enjoys traveling to speak at conferences and
                  sharing what
                  she's learned with others.
                  <br /><br />
                  One of her favorite things is watching someone light up when they understand something for the
                  first time,
                  and a life goal of hers is to help as many people as possible experience that joy. She also loves
                  swing dancing, both as a leader and a follower.
               </p>
            </div>
         </div>
         <!-- New Fellow - leave template -->
         <!--
         \<\!-- FIXME: New Fellow Name --\>
            <div class="card">
               <img src="nivenly-bw-coming-soon.png"
                     class="card-img-top"
                     draggable="false"
                  
                     alt="Headshot of FIXME, smiling" />
            <div class="card-body">
               <h5 class="card-title section-head">
                  FIXME: Nivenly Fellow Name<br />
                  Nivenly Fellow 
               </h5>
               <p class="card-text">
                  FIXME: Nivenly Fellow bio text.
               </p>
            </div>
            </div>
         </div>
         -->
      </div>
   </div>


   <!-- NIVENLY MAINTAINERS -->
   <div class="container pt-5">
      <h2>Maintainers</h2>
      <hr />
      <!-- FIXME: To remove -->
      <p>We'll be adding maintainers shortly, stay tuned!</p>
   </div>
   <!-- NIVENLY CONTRIBUTORS -->
   <div class="container pt-5">
      <h2>Contributors</h2>
      <hr />
      <p>We'll be adding contributors shortly, stay tuned!</p>
   </div>
</section>