<div class="card-deck">
	<div class="card">
		<div class="card-body">
			<a href="https://aurae.io">
				<img src="/project-logos/aurae.png" class="card-img-top" draggable="false" alt="Logo for Aurae" />
                <h5 class="card-title section-head">Aurae</h5>
			</a>
			<p class="card-text">
				Aurae is a free and open source Rust project providing a memory-safe
				runtime daemon, process manager, and PID-1 initialization system to
				remotely schedule processes, containers, and virtual machines.
			</p>
			<p class="card-text">
				It also provides official clients in Rust and Go, but exposes
				everything through a gRPC API allowing a breadth of possible
				integrations.
			</p>
		</div>
		<div class="card-footer">
			<a href="https://aurae.io">Project Website</a>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<a href="https://hachyderm.io">
				<img src="/project-logos/hachyderm.png" class="card-img-top" draggable="false" alt="Logo for Hachyderm" />
				<h5 class="card-title section-head">
					Hachyderm
				</h5>
			</a>
			<p class="card-text">
				Hachyderm is a social media site built on Mastodon.
				Here we are building a curated network of respectful professionals in
				the tech industry around the globe. Welcome to anyone who follows the
				rules and needs a safe home or fresh start.
			</p>
			<p class="card-text">
				We are hackers, professionals, enthusiasts, and are passionate about
				life, respect, and digital freedom. We believe in peace and balance
				and providing safe spaces.
			</p>
		</div>
		<div class="card-footer">
			<a href="https://hachyderm.io">Join Hachyderm</a>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<a href="https://pachli.app">
				<img src="/project-logos/pachli.png" class="card-img-top" draggable="false" alt="Pachli logo" />
				<h5 class="card-title section-head">
					Pachli
				</h5>
			</a>
			<p class="card-text">
				Pachli is a best-in-class Android client for Mastodon and Mastodon-like servers.
			</p>
		</div>
		<div class="card-footer">
			<a href="https://pachli.app">Project Website</a>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<a href="/docs/programs/fediverse-security-fund/">
				<img src="/project-logos/fediverse-security-fund.png" class="card-img-top" draggable="false"
					alt="Logo for the Fediverse Security Fund" />
				<h5 class="card-title section-head">
					Fediverse Security Fund
				</h5>
			</a>
			<p class="card-text">
				Security bounty fund to sponsor contributors who responsibly disclose security vulnerabilities in popular
				open source Fediverse software.
			</p>
			<p class="card-text">
				This is a new program and we want to gather data about how contributors will engage with it, the Fund will
				allocate a maximum of $5,000 USD between April 1, 2025 and the end of
				September 30, 2025.
			</p>
		</div>
		<div class="card-footer">
			<a href="/docs/programs/fediverse-security-fund/">Learn more</a>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<a href="/projects/">
				<img src="/project-logos/coming-soon.png" class="card-img-top" draggable="false" />
				<h5 class="card-title section-head">
					Your project?
				</h5>
			</a>
			<p class="card-text">
				Projects can apply to join Nivenly, you can read about this process over at the <a href="/projects">Projects</a>
				section.</p>
			</p>
		</div>
	</div>
	<div class="card card-fake">
		<span>&nbsp;</span>
	</div>
	<!-- end layout -->
</div>