+++
title = "The Nivenly Foundation Partners"
linkTitle = "Partners"
[menu.main]
weight = 40
pre = "<i class='fas fa-handshake pr-2'></i>"
+++
{{% blocks/cover title="Partners" image_anchor="bottom" height="min" color="primary"%}}
{{% blocks/link-down color="info" id="pageContent"%}}
{{% /blocks/cover %}}

<section id="pageContent">
  <div class="container">
    <div class="row gx-5">
      <!-- commenting out //
      <div class="col">
      <div class="card border-primary-dark">
        <a href="https://aurae.io">
          <img src="/partner-logos/placeholder-image.png"
               class="card-img-top"
               draggable="false"
               style="padding: 2rem;"
               alt="Empty spot for future partners" />
        </a>
        <div class="card-body bg-primary-dark">
          
        </div>
      </div>
      </div>
      -->
      <div class="col-4">
      <div class="card border-primary-dark">
        <a href="https://fastly.com/">
          <img src="/partner-logos/Fastly-logo.png"
               class="card-img-top"
               draggable="false"
               style="padding: 2rem;"
               alt="Logo for Fastly" />
        </a>
        <div class="card-body bg-primary-dark">
          <h5 class="card-title text-white section-head">
            Fastly
          </h5>
          <p class="card-text text-white">
            Fastly provide us with a CDN to help us deliver our content to you as fast as possible. Please visit their website to learn more about them. <a href="https://fastly.com/">https://fastly.com/</a>
          </p>
        </div>
      </div>
      <!-- Code block to copy
      </div>
      <div class="col">
      <div class="card border-primary-dark">
        <a href="">
          <img src="/partner-logos/placeholder-image.png"
               class="card-img-top"
               draggable="false"
               style="padding: 2rem;"
               alt="Empty spot for future partners" />
        </a>
        <div class="card-body bg-primary-dark"></div>
        
      </div>
    -->
      </div>
    </div>
    <br />
  
  </div>
</section>
