// Nivenly Brand Fonts
@font-face {
  font-family: GothamBold;
  src: url('/fonts/GothamBold.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: GothamBook;
  src: url('/fonts/GothamBook.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

html, body {
  overflow-x: hidden;
}

h1,h2,h3,h4,h5
{
  font-family: "Montserrat", "Verdana", "sans-serif" !important;
}

p,ul,ol {
  font-family: "Montserrat", "Verdana", "sans-serif" !important;
}


// Front page styling
.card-img-top {
  object-fit: scale-down;
}

.text-white {
  font-weight: 400;
}

.bg-primary-dark {
  background-color: $dark;

  a {
    border-bottom: 1px dotted paleturquoise;

    color: paleturquoise !important;
    font-weight: 600;
    padding: 0 2px 1px 2px;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dotted #fff;

      color: #fff !important;
    }
  }
}

.border-primary-dark {
  border-color: $info !important;
}

.section-head {
  font-size: 1.25em;
  color: $primary;
  font-weight: bold;
  padding: 0 0 1em 0;
}

.contain {
  margin: 0 auto;
  max-width: 1200px; }

.image {
  display: block; }
  .image img {
    display: block;
    width: 100%;
    height: auto; }
  .image.left, .image.right {
    max-width: 45%; }
    .image.left::after, .image.right::after {
      clear: both;
      content: "";
      display: block; }
  .image.left {
    float: left;
    margin: 0 1.5em 1.5em 0; }
  .image.right {
    float: right;
    margin: 0 0 1.5em 1.5em; }

#overview, #community {
  padding: 6em 1.5em 3em 1.5em;
  text-align: center;
  margin: 0;

  p {
    font-size: 1.125em;
  }
}

#overview + #pageContent {
  padding-top: 0;
}

#community {
  border-top: 2px solid $light-blue;
}

#pageContent .lead {
  margin: 0 1.5em 3em 1.5em;}
  #pageContent .lead > .image {
    padding: 0 1.5em;
    max-width: 60%;
    margin-bottom: 1.5em; }
  #pageContent .lead > .text p {
    font-size: 1em; }

@include media-breakpoint-down(sm) {
  #overview, #community {
    font-size: 1.125em; }
  #pageContent .lead > .image {
    max-width: 35%;
    margin-bottom: 3em; }
  #pageContent .lead > .text p {
    font-size: 1em; }
}

@include media-breakpoint-down(lg) {
  #pageContent .lead {
    margin-top: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;

    & > * {
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
    }

    .image {
      display: block;
      margin: 0 auto;
      max-width: 100%;

      & > img {
        max-width: 80%;
        margin: 0 auto;
      }
    }

    .text {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
    }

    &:nth-child(2n+0) > .image {
      -ms-flex-order: 2;
      order: 2;
    }
    &:nth-child(2n+0) > .text {
      -ms-flex-order: 1;
          order: 1;
    }
  }
}

// --------------------------------------------------
// remove whitespace after footer
// --------------------------------------------------
.td-footer {
  min-height: auto!important;
  padding: 3rem 0;
}
  
  // --------------------------------------------------
  // prevent overflow of long names in sidebar
  // --------------------------------------------------
  .td-sidebar-nav__section > ul {
    overflow-wrap: break-word;
  }
  
  // --------------------------------------------------
  // custom navbar with larger logo, dropdown on mobile
  // --------------------------------------------------
  
  @supports (position: sticky) {
    body > header {
      position: sticky;
      top: 0px;
      padding-top: 12px;
      z-index: 33;
      background: $primary;

      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }

    .td-sidebar__search {
      padding-top: 0;
    }
    
    .td-sidebar-toc, .td-sidebar__inner {
      top: 12rem!important;
    }

    @include media-breakpoint-up(md) {
      .td-sidebar__inner {
        padding-left: 1rem;
      }
    }
  }
  
  @include media-breakpoint-down(md) {
    header {
      .navbar-nav-scroll {
        align-items: start;
        
        &:has([aria-expanded="true"]) {
          align-items: start;
          min-height: var(--bs-scroll-height, 100vh);
          padding-bottom: 3rem;
        }

        .navbar-collapse.collapsing {
          transition: height 0.35s ease-out;
        }

        .navbar-nav {
          padding-top: 1rem;
          padding-left: 24px!important;
        }
      }

    }
  }

  .navbar {
    background: $primary;
    color: white;
    
    .navbar-brand {
      @include media-breakpoint-down(sm) {
        .text-uppercase {
          display: none;
        }
      }

      .navbar-logo {
        margin: 10px;

        svg {
          display: inline-block;
          border-top: none;
          width: 60px;
          height: 60px;
          margin-bottom: 10px;
  
          @include media-breakpoint-down(lg) {
            max-width: 55px;
            max-height: 55px;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
      }
    }

    .navbar-toggler {
      margin-right: 24px;

      &:focus {
        box-shadow: 0 0 0 2px;
      }
    }

    .navbar-collapse.show,
    .navbar-collapse.collapsing {
      padding-bottom: 1rem;
    }
  }

  // Fixes the issue with the headers not being full width:
  .container-fluid.td-default.td-outer {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  
  .td-sidebar {
    padding: 1rem 0 0;
  
    .td-sidebar__toggle:after {
      content: "Menu";
      position: relative;
      font-family: var(--bs-body-font-family);
      font-weight: 500;
      padding-left: 0.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    .td-blog #td-sidebar-menu {
      display: none;
    }

    .td-sidebar__search {
      padding: 0;
    }

    .td-sidebar__inner {
      padding-bottom: 1rem;
    }

    .td-sidebar-nav {
      margin-left: -0.5rem;
      margin-right: 0.5rem;
    }

    .td-sidebar-nav__section .ul-1 ul {
      padding-left: 1.5rem;
    }
  }

  .td-breadcrumbs__single {
    display: none;
  }

  .td-sidebar-nav .td-sidebar-link.tree-root {
    border-color: #ccc;
  }
  

  @include media-breakpoint-down(md) {
    .td-breadcrumbs {
      border-top: 1px solid #ccc;
      padding-top: 1rem;
    }

    .td-404 main, .td-main main {
      padding-top: var(--bs-gutter-y);
    }
  }
  
  // Page headers:
  .td-main > .row.td-cover-block {
    margin: 0!important;

    .col-12 {
      padding: 0;
    }
  }
  
  // --------------------------------------------------
  // 404 page
  // --------------------------------------------------
  .error-page {
    margin-top: 120px;
  
    ul {
      margin-bottom: 50px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 0;
    }
  
    li {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 100px;
    }
  
    @media (max-width: 767px) {
      margin-top: 50px;
    }
  }
  
  // --------------------------------------------------
  // for tabbed code blocks
  // https://github.com/kubeflow/website/pull/2779
  // --------------------------------------------------
  .nav-tabs {
    border-bottom: none !important;
  }
  
  .td-content > ul li,
  .td-content > ol li.nav-item {
    margin-bottom: 0px;
  }
  
  .td-content .tab-content .highlight {
    margin: 0;
  }
  
  .tab-pane {
    border-radius: 0.25rem;
    padding: 0 16px 16px;
  
    border: 1px solid #dee2e6;
  
    &:first-of-type.active {
      border-top-left-radius: 0;
    }
  }
  
  nav.foldable-nav .ul-1 .with-child>label:hover:before {
    transform: none;
  }
  
  nav.foldable-nav .ul-1 .with-child>input:checked~label:hover:before {
    transform: rotate(90deg) !important;
  }

  .navbar-brand__name
  {
    display: none;
  }

// Cards for the projects and who page:
.card-deck {
  --gap: var(--bs-gutter-x);
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 2px;

  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  overflow: hidden;
  gap: var(--gap);
  margin-bottom: 2rem;

  .card {
    border: none;
    position: relative;
    justify-items: start;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $light;
      z-index: 1;
    }

    &::after {
      inline-size: 100vw;
      block-size: var(--line-thickness);
      inset-inline-start: 0;
      inset-block-start: calc(var(--line-offset) * -1);
    }

    &::before {
      inline-size: var(--line-thickness);
      block-size: calc(max(120vh, 100vmax));
      inset-block-start: -20px;
      inset-inline-start: calc(var(--line-offset) * -1);
    }

    & > a {
      padding: 1rem;
    }

    a > .card-img-top {
      padding: 0;
      margin-bottom: 1rem;
    }

    .card-img-top {
      padding: 1rem;
      max-height: 384px;
      max-width: 384px;
      object-fit: contain;
    }

    .card-footer {
      background: none;
      border-top: none;
      padding-bottom: 1rem;
    }
  }

  .card:only-child {
    &::before, &::after {
      display: none;
    }
  }
}

@include media-breakpoint-down(md) {
  .card-deck .card-fake {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .card-deck {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include media-breakpoint-up(xl) {
  .card-deck {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

// Partners page elements:
.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  
  .partner-logo {
    display: flex;
    max-width: 280px;
    
    > img {
      width: 100%;
      object-fit: scale-down;
    }
  }

  .partner-description {
    flex-grow: 1;
    margin: 0 2rem;
  }
}

@include media-breakpoint-up(md) {
  .partner {
    flex-direction: row;
    gap: 2rem;
  }
}