/*
Add styles or override the theme's variables here.
*/

$td-enable-google-fonts: false;

html.smooth-scroll {
  scroll-behavior: smooth;
}

// Theme colors
$primary: rgb(0, 0, 120);
$secondary: rgb(255, 102, 0);
$dark: #213d7a;
$info: #adb5bd;
$light: #dee2e6;

// Nav bar colors
$white: #fff;
$navbar-dark-color: rgba($white, 1);
$navbar-dark-hover-color: rgba($white, 0.75);
$navbar-dark-active-color: $navbar-dark-color;
$light-blue: #b6d0ff;

// Fonts
$google_font_family: "Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" !default;
