+++
title = "The Nivenly Foundation"
linkTitle = "Home"
[menu.main]
weight = 10
pre = "<i class='fas fa-home pr-2'></i>"
description = '''
The Nivenly Foundation brings sustainability, autonomy, and control to open source projects and communities around the
globe.
'''
+++

<link rel="me" href="https://hachyderm.io/@nivenly" />

<!-- Hero section -->
{{% blocks/cover title="Nivenly Foundation" image_anchor="center" color="primary" %}}
<div class="mx-auto">
  <p class="lead mt-5">The Nivenly Foundation brings sustainability, autonomy, and control to open source projects
    and communities around the globe.</p>
  <div class="d-flex justify-content-center gap-3 pt-4">
    <a class="btn btn-lg btn-dark" href="/about">
      Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary" href="https://github.com/sponsors/nivenly">
      Donate <i class="fa-brands fa-github"></i>
    </a>
  </div>
  <div class="mx-auto mt-5">
    {{% blocks/link-down color="light" id="overview" %}}
  </div>
</div>
{{% /blocks/cover %}}

<div id="overview">
  <div class="contain">
    <h4 class="section-head">What is Nivenly?</h4>
    <p>
      We set the precedent for member-controlled and democratically-governed
      technical organizations. We support open-source services and projects
      around the world. We believe in balancing power between our contributors
      and maintainer(s) that sustain our projects with the corporations that use them.
    </p>
  </div>
</div>

<section id="pageContent">
    <div class="container">
      {{% shared/projects-card-deck %}}
    </div>
</section>
<hr/>