+++
title = "The Nivenly Foundation"
linkTitle = "Home"
[menu.main]
weight = 10
pre = "<i class='fas fa-home pr-2'></i>"
+++

<link rel="me" href="https://hachyderm.io/@nivenly">

<!-- Hero section -->
{{% blocks/cover title="Nivenly Foundation" image_anchor="center" color="primary" %}}
<div class="mx-auto">
  <p class="lead mt-5">The Nivenly Foundation brings sustainability, ownership, and control to open source projects
    and communities around the globe.</p>
  <a class="btn btn-lg btn-dark mr-3 mb-4" href="/about">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/sponsors/nivenly">
    Donate <i class="fa-brands fa-github"></i>
  </a>
  <div class="mx-auto mt-5">
    {{% blocks/link-down color="light" id="overview" %}}
  </div>
</div>
{{% /blocks/cover %}}


<div id="overview">
  <div class="contain">
    <h4 class="section-head">What is Nivenly?</h4>
    <p>
      We set the precedent for member-owned and democratically-governed
      technical organizations. We offset the impact of profit-driven
      economies through the use of a nonprofit association that protects
      and supports the contributors and maintainers of technical projects,
      establishing sustained independence from the corporations that use them.

    </p>
  </div>
</div>

<section id="pageContent">
  <div class="container">
    {{% shared/projects %}}
  </div>
</section>
